.DS_Store
node_modules/
vendor/
*.log
.env
.htaccess_local
.DS_Store
Thumbs.db

# Environment/Secret Files
backend/core/config.php

# Firebase Secrets
backend/core/firebase_credentials.json
# Remove google-services.json from ignore list to allow build on GitHub
mobile_app/ios/App/App/GoogleService-Info.plist

# Build outputs
mobile_app/www/
mobile_app/android/.gradle/
mobile_app/android/build/
mobile_app/ios/App/build/
